.navbar{
    background-color: #f00943;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 0 1rem; */
    position: fixed;
    top: 0;
    z-index: 100;
}